<!-- CLIENTES *****-->

<div class="divider" id="clientes"><i class="icon-circle"></i></div>

<h1 class="text-center" style="color:#0741ad">Partners Estratégicos</h1>

<div id="oc-clients" class="owl-carousel image-carousel carousel-widget" data-loop="true" data-speed="3000" data-autoplay="2000" data-margin="20" data-nav="false" data-pagi="true" data-items-xs="2" data-items-sm="3" data-items-md="4" data-items-lg="5"
    data-items-xl="6">
    <div class="oc-item">
        <a href="#"><img src="assets/images/categorias_productos/arquitectura_aws.jpg" alt="Clients"></a>
    </div>
    <div class="oc-item">
        <a href="#"><img src="assets/images/categorias_productos/arquitectura_azure.jpg" alt="Clients"></a>
    </div>
    <div class="oc-item">
        <a href="#"><img src="assets/images/categorias_productos/arquitectura_cisco.jpg" alt="Clients"></a>
    </div>
    <div class="oc-item">
        <a href="#"><img src="assets/images/categorias_productos/arquitectura_googlecloud.jpg" alt="Clients"></a>
    </div>
    <div class="oc-item">
        <a href="#"><img src="assets/images/categorias_productos/arquitectura_grenke.jpg" alt="Clients"></a>
    </div>
    <div class="oc-item">
        <a href="#"><img src="assets/images/categorias_productos/framework_forcepoint.jpg" alt="Clients"></a>
    </div>
    <div class="oc-item">
        <a href="#"><img src="assets/images/categorias_productos/framework_knowbe4.jpg" alt="Clients"></a>
    </div>
    <div class="oc-item">
        <a href="#"><img src="assets/images/categorias_productos/operaciones_burpsuite.jpg" alt="Clients"></a>
    </div>
    <div class="oc-item">
        <a href="#"><img src="assets/images/categorias_productos/operaciones_cisco.jpg" alt="Clients"></a>
    </div>
    <div class="oc-item">
        <a href="#"><img src="assets/images/categorias_productos/operaciones_fortinet.jpg" alt="Clients"></a>
    </div>
    <div class="oc-item">
        <a href="#"><img src="assets/images/categorias_productos/operaciones_kaspersky.jpg" alt="Clients"></a>
    </div>
    <div class="oc-item">
        <a href="#"><img src="assets/images/categorias_productos/operaciones_kiuwan.jpg" alt="Clients"></a>
    </div>
    <div class="oc-item">
        <a href="#"><img src="assets/images/categorias_productos/operaciones_knowbe4.jpg" alt="Clients"></a>
    </div>
    <div class="oc-item">
        <a href="#"><img src="assets/images/categorias_productos/operaciones_rapid7.jpg" alt="Clients"></a>
    </div>
    <div class="oc-item">
        <a href="#"><img src="assets/images/categorias_productos/operaciones_fortinet.jpg" alt="Clients"></a>
    </div>
    <div class="oc-item">
        <a href="#"><img src="assets/images/categorias_productos/operaciones_stellar.jpg" alt="Clients"></a>
    </div>
</div>

<br>