<!-- Header
		============================================= -->
<header id="header" class="full-header transparent-header dark clearfix">

    <div id="header-wrap">

        <div class="container clearfix" style="background-color:#14212d">

            <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

            <!-- Primary Navigation
					============================================= -->
            <nav id="primary-menu">

                <ul class="one-page-menu">
                    <li class="current efecto" (click)="scroll('slider')">
                        <a href="/#/">
                            <div class="efecto">Home</div>
                        </a>
                    </li>
                    <li class="efecto" (click)="scroll('somos')">
                        <a href="/#/">
                            <div class="efecto">Quienes Somos</div>
                        </a>
                    </li>
                    <li class="mega-menu mega-menu-small efecto">
                        <a href="/#/" style="color:white" (click)="scroll('categorias')">
                            <div class="efecto">Soluciones</div>
                        </a>
                        <div class="mega-menu-content clearfix" style="background-color: #14212d;">

                            <ul class="mega-menu-column col-lg-4">
                                <li class="mega-menu-title">
                                    <a href="#">
                                        <div style="color:white">Arquitectura</div>
                                    </a>
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <div>Desarrollo seguro de las aplicaciones</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div> Diseño de la red</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div>Cloud Security</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div>Construcción de Sistemas Seguros</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div>Control de Acceso</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div> Protección de data</div>
                                            </a>
                                        </li>

                                    </ul>
                                </li>
                            </ul>
                            <ul class="mega-menu-column col-lg-4">
                                <li class="mega-menu-title">
                                    <a href="productos_framework.html">
                                        <div style="color:white">Framework</div>
                                    </a>
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <div>Concientización de Amenazas</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div> GDPR</div>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <ul class="mega-menu-column col-lg-4">
                                <li class="mega-menu-title">
                                    <a href="productos_operaciones.html">
                                        <div style="color:white">Operaciones</div>
                                    </a>
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <div>SIEM</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div>Defensa Activa</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div>Vulnerability Management</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div>Revisión de Código</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div>Scan de Vulnerabilidades</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div> Inteligencia contra amenazas Internas</div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div> Inteligencia contra amenazas Externos</div>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <!-- OCULTAR LINK PRODUCTOS 


							<li class="mega-menu efecto"><a href="#" style="color:white" data-href="#section-productos"><div class="efecto">Productos</div></a>
							-->

                    <!-- ocultar productos
								<div class="mega-menu-content style-2 clearfix" style="background-color: #14212d">
									<ul class="mega-menu-column col-lg-3" style="background-color:#0741ad">
										<li>
											<div class="widget clearfix">

												<strong><a>Nuestros Productos</a></strong>

												<p class="topmargin-sm nobottommargin">Fully Widgetized Mega Menus with the Ability to add Multiple Mixed Columns and Variable Content. You can use Images, Videos, Embedded Maps or Carousels along with Fully Functional Forms.
												FALTA UN TEXTO BONITO AQUÍ :D</p>

											</div>
										</li>
									</ul>
									<ul class="mega-menu-column col-lg-2">
										<li class="mega-menu-title"><a href="#"><div style="color:white">Arquitectura</div></a>
											<ul>
												<li><a href="#"><div>Desarrollo seguro de las aplicaciones</div></a></li>
												<li><a href="#"><div> Diseño de la red</div></a></li>
												<li><a href="#"><div>Cloud Security</div></a></li>
												<li><a href="#"><div>Construcción de Sistemas Seguros</div></a></li>
												<li><a href="#"><div>Control de Acceso</div></a></li>
												<li><a href="#"><div> Protección de data</div></a></li>
												
											</ul>
										</li>
									</ul>
									<ul class="mega-menu-column col-lg-2">
										<li class="mega-menu-title"><a href="productos_framework.html"><div style="color:white">Framework</div></a>
											<ul>
												<li><a href="#"><div>Concientización de Amenazas</div></a></li>
												<li><a href="#"><div> GDPR</div></a></li>
											</ul>
										</li>
									</ul>
									<ul class="mega-menu-column col-lg-2">
										<li class="mega-menu-title"><a href="productos_operaciones.html"><div style="color:white">Operaciones</div></a>
											<ul>
												<li><a href="#"><div>SIEM</div></a></li>
												<li><a href="#"><div>Defensa Activa</div></a></li>
												<li><a href="#"><div>Vulnerability Management</div></a></li>
												<li><a href="#"><div>Revisión de Código</div></a></li>
												<li><a href="#"><div>Scan de Vulnerabilidades</div></a></li>
												<li><a href="#"><div>  Inteligencia contra amenazas Internas</div></a></li>
												<li><a href="#"><div> Inteligencia contra amenazas Externos</div></a></li>
											</ul>
										</li>
									</ul>
									
									
                                </div>
                                </li>
								 -->


                    <li class="efecto">
                        <a href="/#/" (click)="scroll('contacto')">
                            <div class="efecto">Contacto</div>
                        </a>
                    </li>
                </ul>

            </nav>
            <!-- #primary-menu end -->
        </div>
    </div>
</header>
<!-- #header end -->