<!-- divider -->

<div id="categorias" class="divider divider-center"><a href="#" data-scrollto="#header"><i class="icon-chevron-up"></i></a></div>


<!-- divider -->

<!-- CATEGORIAS FRAMEWORK - ARQUITECTURA - OPERACIONES
============================================= -->
<section>

    <h1 class="text-center" style="color:#0741ad">Dominios que abordamos</h1>

    <br>

    <div class="row bottommargin-lg align-items-stretch">

        <div class="col-lg-4 dark col-padding ohidden" style="background-color: #14212d;">
            <div>
                <h3 class="uppercase" style="font-weight: 600;">Arquitectura</h3>
                <p style="line-height: 1.8;">Desarrollo seguro de las aplicaciones<br>Diseño de la red<br>Cloud Security<br>Construcción de Sistemas Seguros<br>Protección de data</p>

                <i class="icon-line-circle-check bgicon"></i>
            </div>
        </div>

        <div class="col-lg-4 dark col-padding ohidden" style="background-color: #0741ad;">
            <div>
                <h3 class="uppercase" style="font-weight: 600;">Framework</h3>
                <p style="line-height: 1.8;">Concientización de Amenazas<br>GDPR</p>
                <i class="icon-line-target bgicon"></i>
            </div>
        </div>

        <div class="col-lg-4 dark col-padding ohidden" style="background-color: #14212d;">
            <div>
                <h3 class="uppercase" style="font-weight: 600;">Operaciones</h3>
                <p style="line-height: 1.8;">SIEM <br> Defensa Activa <br> Vulnerability Management<br>Revisión de Código<br>Scan de Vulnerabilidades<br>Inteligencia contra amenazas Internas<br>Inteligencia contra amenazas Externos</p>

                <i class="icon-line-eye bgicon"></i>
            </div>
        </div>

        <div class="clear"></div>

    </div>

</section>